{% extends "tasks/base.html" %}
{% load static %}

{% block content %}
<!-- Start  project here-->

<div class="pb-2">
    <div class="card">
        <div class="card-body">
            <form method="GET" class="input-group" action="{% url 'task-list' %}">
                <div class="input-group">
                    <input type="text" name="search" class="form-control form-control-lg" placeholder="Search by Task Title.." aria-label="Search" value="{{ request.GET.search }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <a href="{% url 'task-create' %}"><button type="submit" class="btn btn-primary">Add Task</button></a> 
</div>

<hr class="my-4">

<div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
    <p class="small mb-0 me-2 text-muted">Priority</p>
    <form method="GET">
        <select class="select" name="priority">
            <option value="">All</option>
            <option value="low" {% if request.GET.priority == "low" %} selected {% endif %}>Low</option>
            <option value="medium" {% if request.GET.priority == "medium" %} selected {% endif %}>Medium</option>
            <option value="high" {% if request.GET.priority == "high" %} selected {% endif %}>High</option>
        </select>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
    </form>

    <p class="small mb-0 ms-4 me-2 text-muted">Completion Status</p>
    <form method="GET">
        <select class="select" name="is_complete">
            <option value="">All</option>
            <option value="True" {% if request.GET.is_complete == "True" %} selected {% endif %}>Complete</option>
            <option value="False" {% if request.GET.is_complete == "False" %} selected {% endif %}>Incomplete</option>
        </select>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
    </form>

   
</div>

{% for task in tasks %}
<ul class="list-group list-group-horizontal rounded-0">
    <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
        <div class="form-check">
            <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked2" aria-label="...">
        </div>
    </li>
    <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
        <p class="lead fw-normal mb-0">{{ task.title }} </p>
       <p> <a href="#" class="text-primary" data-mdb-toggle="tooltip" title="Delete todo">Priority : {{task.priority}}<i ></i></a></p>
    </li>
    <li class="list-group-item px-3 py-1 d-flex align-items-center border-0 bg-transparent">
        <div class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-light">
            <p class="small mb-0">
                <a href="{% url 'task-detail' task.id %}" data-mdb-toggle="tooltip" title="Due on date">
                    <i class="fas fa-hourglass-half me-2 text-warning"></i>
                </a>
               <p ><b>Created at:</b> {{ task.created_at }}<br></p> 
                <p><b>Due at:</b> {{ task.due_date }} </p>
            </p>
        </div>
    </li>
    <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
        <div class="d-flex flex-row justify-content-between mb-1">
           
            <div>
                     
                <a href="{% url 'task-detail' task.id %}" class="text-info" data-mdb-toggle="tooltip" title="Detail todo"><i class="fas fa-detail-alt me-3">Detail</i></a>
                <a href="{% url 'task-update' task.id %}" class="text-info" data-mdb-toggle="tooltip" title="Edit todo"><i class="fas fa-pencil-alt me-3"></i></a>
                <a href="{% url 'task-delete' task.id %}" class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i class="fas fa-trash-alt"></i></a>
              
                
            </div>
        </div>
        <div class="text-end text-muted">
            
        </div>
    </li>
</ul>
{% endfor %}

{% endblock content %}